@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
}

#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}